/* Définition des polices personnalisées */



/* body */
body
{
    /*background: linear-gradient(40deg, rgba(9,9,121,1) 0%, rgba(100,200,230,1) 50%, rgba(9,9,121,1) 100%);*/
    background-color: #F7F7F5;
    
    min-height: 1024px;
}

#bloc_page
{
    /*width: 95%;*/
    width: 100%;
    margin: auto;
}


/* Header */

header
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 75px;
    padding-top: 10px;
}

    /* titre */

#titre_principal
{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
}

header h1
{
    font-family: serif;
    font-size: 2.5em;
    font-weight:bold;
   
}

    /* logo */
#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

#logo img
{
    width: 70px;
    height: 70px;
    margin-right: 10px;
    padding: 5px;

}

    /* langue */
#langue
{
    display: flex;
    position: relative;
    flex-direction: column;
    
}
#langue img
{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 55px;
    border-radius: 3px;
}



    /* Navigation */

body
{
    font-family: 'Source code pro', Calibri, serif;
    margin: 0px;
    padding: 0px;
}

nav
{

    justify-content: space-around;
    background-color: #424558;
    margin-left: 15px;
    margin-top: 4px;
    height: 65px;
    border-radius: 5px;
}

nav > ul
{
    margin: 0px;
    padding: 0px;
}

nav > ul::after{
    content: "";
    display: block;
    clear: both;
}

nav > ul > li
{
    float: left;
    position: relative;
}

nav > ul > li >a
{
    padding : 25px;
    color: #FFF;
}

nav > ul > li:hover a
{
    /*padding: 15px 30px 20px 30px;*/
    padding-top:  20px;
    padding-bottom : 20px;
   
}

nav li
{
    list-style-type: none;
}

.submenu
{
   display: none;
   background-color: rgb(230, 100, 40);
}

.submenu li:hover a
{
    color:#EEE;
    font-weight: bold;
}

.submenu li:hover
{
    background-color: rgb(210, 77, 60);
}

nav a
{
    display: inline-block;
    text-decoration: none;
}

nav li:hover .submenu
{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;
}

.submenu li 
{
    border-bottom: 1px solid #CCC; 
}

.submenu li a
{
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
}

nav > ul > li:hover
{
    border-top: 5px solid #e44d26;
    background-color: rgba(228,77,38,0.15);
}




/* corps */

#coprs
{
    display: flex;


}
    /* ventes flash */
    #ventes_flash
    {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        background-color: rgba(0,0,0,0.3);
        /*background-color: blue;*/
    }
    #ventes_flash_ventesflash
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(0,0,0,0.3);
        text-align: center;
        /*background-color: blue;*/
    }

    #ventes_flash > #carrousel > ul
    {
        list-style-type: none;
       
    }

    .controls span
    {
        color: red;
        position: absolute;
        margin-top: -200px;
        margin-left: 35px;
    }

    .controls .next
    {
        margin-left: 490px;
    }

    .controls img
    {
        width: 80px;
    }


    #presentation
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        /*background-color: blue;*/
    }

        /* accroche */

        #accroche
        {
            display: flex;
            flex-direction: row;
            margin-left: 20px;
            margin-top: 150px;
        }

        #fleche
        {
            margin-top: 20px;
            margin-right: 5px;
        }

        #fleche img
        {
            width: 120px;
        }

        #message p
        {
            font-size: 1.2em;
            font-weight: bold;
        }



        /* section */
        #section
        {
            display: flex;
        }

        #section_votreCompte
        {

            margin: 100px;
            display: flex;
            justify-content: center;
            /*background-color: red;*/
            flex:1;
        }

        #section_votreCompte table
        {
            margin-right: 30px;
        }



        #banniere h2
        {
            position: relative;
            margin-bottom: 100px;
            text-align: center;
            font-size: 2.6em;
            color: black;
            text-shadow: 1px 2px 6px #FFF;
            
        }

        #banniere img
        {
            width: 100%;
            height: 210px;
            margin-bottom: -180px;
            border-radius: 10px;
        }


        /* liste produits */
        #liste_produits
        {
            
        }

        #liste_produits_categorie
        {
            display: flex;
            justify-content: center;
            /*background-color: red;*/
            flex:1;
            flex-direction: column;
        }
        #liste_produits_categorie .container img
        {
            width: 250px;
            height: 350px;
            border-radius: 20px;
            border: none;

        }

        .produit
        {
            display: flex;
            flex-direction: row;
            margin: 10px;
            margin-left: 20px;
            margin-right: 20px;
            background: url('images/separateur.png') repeat-x bottom;
        }

        .produit_categorie
        {
            width: 100%;
            display: flex;
            flex-direction: row;
            margin: 10px;
            justify-content: center;
            background: url('images/separateur.png') repeat-x bottom;
        }


        .produit img
        {
            width: 100px;
            height: 100px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .produit_categorie img
        {
            width: 360px;
            height: 360px;
            padding-bottom: 20px;
            border-radius: 10px;
        }

        .produit_gauche
        {
            display: flex;
            flex-direction: column;
            width: 150px;
            /*background-color: pink;*/
        }
        .produit_gauche_categorie
        {
            display: flex;
            flex-direction: column;
            /*background-color: pink;*/
            margin-left: 10px;
            flex:1;
        }

        .produit_droite
        {
            display: flex;
            flex-direction: column;
            padding-left: 200px;
            width: 500px;
            /*background-color: purple;*/
        }
        .produit_droite_categorie
        {

            display: flex;
            flex-direction: column;
            /*background-color: purple;*/
            flex:3;
            margin-left: 15px;
            margin-right: 15px;
        }


        /* petit message */
        #petit_message
        {
            background-color: pink;

            display: flex;
            flex-direction: column;
            flex: 1;
            position: relative;
            background-color: #706b64;
            box-shadow: 0px 2px 5px #1c1a19;
            border-radius: 5px;
            padding: 15px;
            text-align: justify;
            color: white;
            font-size: 0.9em;
            height: 20%;
            margin-top: 20px;
        }
        #fleche_bulle
        {
            position: absolute;
            top: 135px;
            left: -12px;
        }
        #photo_sympa img
        {
            width: 200px;
        }


        /* corps produit */

        #corps_produit
        {
            display: flex;
            flex-direction: row;
            padding-top: 100px;
        }

        #page_produit_gauche
        {
            flex: 1;
            display: flex;
            flex-direction: column;
            
        }
        #produit_retour
        {
            text-align: center;
            background-color: yellow;
            font-size: 1.3em;
            width: 80px;
            height: 30px;
            border-radius: 5px;
        }
        
        #produit_retour:hover
        {
            margin-top: -5px; 
            border-top: 5px solid #e44d26;
            background-color: rgba(228,77,38,0.15);

        }

        #produit_images
        {
            display: flex;
            
            flex-direction: row;
            justify-content: center;
            
        }

        #produit_images_gauche
        {
            display: flex;
            flex-direction: column;

            flex:1;
            margin-left: 10px;
        }

        #produit_images_gauche img
        {
            height: 70px;
            width: 70px;
            margin:5px;
        }

        #produit_images_droite
        {
            display: flex;
            flex-direction: column;
            flex: 2;
        }

        #produit_images_droite img
        {
            height: 240px;
            width: 240px;
            
        }

        #page_produit_droite
        {
            flex: 2;
            display: flex;
            flex-direction: row;
        }

        #table_produit_gauche
        {
            flex:2;
            align-self:  flex-start;
        }

        #table_produit_droite
        {
            flex:1;
            align-self:  flex-start;
            padding-top: 30px;
            padding-left: 100px;
        }

        #table_produit_droite form
        {
            
            align-items: flex-end;
        }

        /* corps vendeur */
        #corps_vendeur
        {
            display: flex;
            flex-direction: row;

        }

        #vendeur_gauche
        {
            display: flex;
            flex: 1;
            flex-direction: column;
            /*background-color: pink;*/
            align-items: center;
        }
         #vendeur_compte_gauche
        {
            display: flex;
            flex: 1;
            flex-direction: column;
            /*background-color: pink;*/
            align-items: center;
            background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),url("images/fond_vendeur.jpg");
            border-radius: 15px;
            margin: 15px;
        }

        #vendeur_gauche img
        {
            height: 500px;
            width: 500px;
            border-radius: 50px;
            border: 5px darkgreen inset;
            box-shadow: 6px 6px 6px black;
        }

        #vendeur_compte_gauche img
        {
            height: 500px;
            width: 500px;
            border-radius: 50px;
            border: 5px darkgreen inset;
            box-shadow: 6px 6px 6px black;

        }

        #vendeur_droite
        {
            display: flex;
            flex: 2;
            flex-direction: column;
            /*background-color: red;*/
        }

         #ajouter_un_item
        {
            text-align: center;
            background-color: yellow;
            font-size: 1.3em;
            width: 200px;
            height: 30px;
            border-radius: 5px;
        }
        
        #ajouter_un_item:hover
        {
            margin-top: -5px; 
            border-top: 5px solid #e44d26;
            background-color: rgba(228,77,38,0.15);

        }

        /* corps admin */

        #corps_admin
        {
            display: flex;
            flex-direction: row;

        }

        #corps_admin .produit_droite
        {
            margin: 10px;
        }

        #admin_gauche
        {
            display: flex;
            width: 20%;
            flex-direction: column;
            /*background-color: pink;*/
            align-items: center;
        }
    
        #admin_droite
        {
            display: flex;
            width: 50%;
            flex-direction: column;
            /*background-color: red;*/
        }

         #ajouter_un_item_admin
        {
            text-align: center;
            background-color: yellow;
            font-size: 1.3em;
            width: 150px;
            height: 65px;
            border-radius: 5px;
        }

       

    







/* footer */
#footer
{
    align-items:   flex-end;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 10px;
   /* background-color: green;*/
}
















/* animation */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #dedede;
}

#message p , #fleche img{
    position: relative;
    display: block;
    margin: 0;
    font-size: 2.5rem;
    line-height: 1;
    transform: translateY(6rem);
    animation: up 500ms linear forwards;
    z-index: 1;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
}

#message, #fleche {
    font-size: 0;
    position: relative;
    overflow: hidden;
    padding-bottom: 0.4rem;
}

@keyframes up {
    
    100% {
        transform: translateY(0);
    }
    
}





.container ,.container_ventes_flash
{

    background-color: rgba(153,204,255,0.3);
    width: 100%;
    border-radius: 20px;

}

.product-image8
{
    border-radius: 20px;
    border: 3px;
}

.mon_produit{margin: auto;}


.jumbotron{padding:2rem 1rem;margin-bottom:2rem;background-color:#e9ecef;border-radius:.3rem}
@media (min-width:576px){.jumbotron{padding:4rem 2rem}}
.jumbotron-fluid{padding-right:0;padding-left:0;border-radius:0}

 .text-center{text-align:center!important}














/*  media querries  */
@media all and (max-width: 1116px) {
    #bloc_page {
        width: auto;
        text-align: left;
        display: flex;
        flex-direction: row;
    }

    #ventes_flash {
        display: none;
    }

    #presentation {
        display: none;
    }

    header {

        display: inline-block;
    }

    header > h1 {
        text-align: center;
    }

    header #logo {
        justify-content: center;
    }

    #langue {
        display: flex;
        flex-direction: row;
    }

    /* nav */
    nav {
        position: relative;
        top: 20px;

        display: flex;
        flex-direction: row;


        height: 410px;
        width: 140px;
        background-color: #424558;

        margin-left: 10px;
        margin-right: 10px;
        margin-top: 4px;

        border-radius: 5px;
    }


    nav > ul::after {
        content: "";
        display: block;
        clear: both;
    }

    nav > ul > li {
        float: left;
        position: relative;
    }

    nav > ul > li > a {
        padding: 25px;
        color: #FFF;
    }

    nav > ul > li:hover a {
        /*padding: 15px 30px 20px 30px;*/
        padding-top: 20px;
        padding-bottom: 20px;

    }

    nav li {
        list-style-type: none;
    }

    .submenu {
        display: none;
        background-color: rgb(230, 100, 40);
    }

    .submenu li:hover a {
        color: #EEE;
        font-weight: bold;
    }

    .submenu li:hover {
        background-color: rgb(210, 77, 60);
    }

    nav a {
        display: inline-block;
        text-decoration: none;
    }

    nav li:hover .submenu {
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 120px;

        padding: 0px;
        z-index: 100000;
    }

    .submenu li {
        border-bottom: 1px solid #CCC;
    }

    .submenu li a {
        padding: 15px 30px;
        font-size: 13px;
        color: #222538;
        width: 270px;
    }

    nav > ul > li:hover {
        border-top: 5px solid #e44d26;
        background-color: rgba(228, 77, 38, 0.15);
    }


    .produit_categorie img {
        width: 100%;
        height: 80%;
        margin-top: 30px;
        border-radius: 10px;
    }


    #footer {
        display: none;
    }
}

























3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}

/********************* Shopping Demo-8 **********************/
.product-grid8{font-family:Poppins,sans-serif;position:relative;z-index:1}
.product-grid8 .product-image8{border:1px solid #e4e9ef;position:relative;transition:all .3s ease 0s}
.product-grid8:hover .product-image8{box-shadow:0 0 10px rgba(0,0,0,.15)}
.product-grid8 .product-image8 a{display:block}
.product-grid8 .product-image8 img{width:100%;height:auto}
.product-grid8 .pic-1{opacity:1;transition:all .5s ease-out 0s}
.product-grid8:hover .pic-1{opacity:0}
.product-grid8 .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .5s ease-out 0s}
.product-grid8:hover .pic-2{opacity:1}
.product-grid8 .social{padding:0;margin:0;list-style:none;position:absolute;bottom:60px;right:90px;z-index:1}
.product-grid8 .social li{opacity:0;transform:translateY(3px);transition:all .5s ease 0s}
.product-grid8:hover .social li{margin:0 0 10px;opacity:1;transform:translateY(0)}
.product-grid8:hover .social li:nth-child(1){transition-delay:.1s}
.product-grid8:hover .social li:nth-child(2){transition-delay:.2s}
.product-grid8:hover .social li:nth-child(3){transition-delay:.4s}
.product-grid8 .social li a{font-size:3em;background-color:  rgba(255,255,255,0.9);color:black;font-size:25px;line-height:40px;text-align:center;height:65px;width:65px;border:1px solid grey;display:block;transition:all .5s ease-in-out}
.product-grid8 .social li a:hover{color:dodgerblue;border-color:#000}
.product-grid8 .product-discount-label{display:block;padding:4px 15px 4px 30px;color:#fff;background-color:#0081c2;position:absolute;top:10px;right:0;-webkit-clip-path:polygon(34% 0,100% 0,100% 100%,0 100%);clip-path:polygon(34% 0,100% 0,100% 100%,0 100%)}
.product-grid8 .product-content{padding:20px 0 0}
.product-grid8 .price{color:#000;font-size:19px;font-weight:400;margin-bottom:8px;text-align:left;transition:all .3s; text-align: center}
.product-grid8 .product-shipping{color:rgba(0,0,0,.5);font-size:15px;padding-left:35px;margin:0 0 15px;display:block;position:relative;width: 150px; height: 70px; text-align: center}
.product-grid8 .title{font-size:16px;font-weight:400;text-transform:capitalize;margin:0 0 30px;transition:all .3s ease 0s}
.product-grid8 .title a{color:#000}
.product-grid8 .title a:hover{color:#0081c2}
.product-grid8 .all-deals{display:block;color:#fff;background-color:#2e353b;font-size:15px;letter-spacing:1px;text-align:center;text-transform:uppercase;padding:22px 5px;transition:all .5s ease 0s}
.product-grid8 .all-deals .icon{margin-left:7px}
.product-grid8 .all-deals:hover{background-color:#0081c2}
@media only screen and (max-width:990px){.product-grid8{margin-bottom:30px}
}















